<!DOCTYPE html>
<html lang="en">

<head prefix="og:http://ogp.me/ns#">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View this post from GeoLanes {{post.customer}}</title>

    <meta property="og:url" content="http://web.techroble.com/gl_backend/social/{{post.id}}">
    <meta property="og:image" content="{{post.image}}">
    <meta property="og:title" content="View this post from GeoLanes {{post.customer}}">
    <meta property="og:type" content="website">
    <meta property="fb:app_id" content="">
    <meta property="og:description" content="">
</head>

<body>
    <img src="{{post.image}}" style="max-width: 100%;" />
</body>

</html>